<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/style.css">
 
</head>
<body>
    <header>
        <header>
            <h1>{{ site.title }}</h1>
          <nav>
                <ul class="nav">
                    <li><a href="{{site.baseurl}}/">Home</a></li>
                    <li><a href="{{site.baseurl}}/posts/">Posts</a></li>
                    <li><a href="{{site.baseurl}}/about/">about</a></li>
                </ul>
           </nav>
            
    </header>
     <main>
          
        <section class="about">
           
            
            <h2>About Me</h2>
            
          
            <p>Welcome to my blog! My name is Nothing, and this is where I share my thoughts, experiences, and ideas.</p>
            <p>My mission is to do Nothing.</p>
            <p>Feel free to reach out to me at <a href="mailto:your-email@example.com">your-email@example.com</a> or connect with me on <a href="https://twitter.com/yourprofile">Twitter</a>.</p>
            
        </section>
    </main>
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    </footer>
</body>
</html>
    
